%html
  %head
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/styles.css' }
  %body
    #wrapper
      #header
        %h1 Twitter Minicards

      #content
        %h2 Make minicards with your last 100 tweets
        %form{ method: 'post', action: '/pack'}
          %input{ type: 'text', name: 'twitter-handle', value: '@alinajaf', autocomplete: 'off'}
          %input{ type: 'submit', value: 'Make Minicards'}


