@import 'lib/constants'
@import 'lib/reset'
@import 'lib/extend'
@import 'lib/mixins'

body
  :font-family verdana, sans-serif
  :font-size 13px

#header
  :width 800px
  :margin 100px auto 20px auto

#content
  :margin 0 auto
  :width 800px
  form
    :margin-top 20px
    :text-align center
    input[type="text"]
      :font-size 3em
      :margin-bottom 10px
      :color #999
      :padding 5px
      :border 1px solid #999
      &:focus
        :border 1px solid #333
        +box-shadow(#333 0px 0px 7px)
    input[type=submit]
      :font-size 2em
      :padding 7px
      :top -4px
      :position relative
      :color #666

h1
  :font-family Helvetica
  :font-weight bold
  :font-size 5em
  :text-align center
  :text-shadow #666 1px 1px 5px
  :color #333

h2
  :font-family Helvetica
  :font-size 30px
  :color #333
  :background-color #eee
  :padding 5px
  :text-align center
  :margin-bottom 10px
  
